.footer {
    background-color: #1f2937; /* bg-gray-800 */
    color: #ffffff;            /* text-white */
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
    
  }
  
  .footer a {
    color: #93c5fd;            /* text-blue-300 */
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  

  /* Gaya untuk footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-size: cover;
    transition: transform 0.3s ease;
  }
  
  /* Gaya untuk logo GitHub */
  .social-icon.github {
    background-image: url('github.png');  /* Ganti dengan URL atau path logo GitHub */
  }
  
  /* Gaya untuk logo LinkedIn */
  .social-icon.linkedin {
    background-image: url('linkedin.png');  /* Ganti dengan URL atau path logo LinkedIn */
  }
  
  /* Gaya untuk logo Twitter */
  .social-icon.twitter {
    background-image: url('twitter.png');  /* Ganti dengan URL atau path logo Twitter */
  }

  .social-icon.instagram {
    background-image: url('instagram.png');  /* Ganti dengan URL atau path logo Twitter */
  }
  
  /* Efek hover untuk ikon media sosial */
  .social-icon:hover {
    transform: scale(1.2);  /* Membuat gambar sedikit membesar saat hover */
  }
  